In [1]:
import pyodbc
import pandas as pd

from conectDB import conn

In [2]:
try:
    # Consulta a la base de datos
    query = "SELECT * FROM PlantasGOL"

    # Utiliza pandas para ejecutar la consulta y obtener un DataFrame
    df = pd.read_sql_query(query, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

Conexión exitosa

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_19184\3415068190.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [3]:
df

,ComboKey,FileGOL,furnaceID,Tank,FechaExportar,Directorio,Forzar,FechaUltimoPeticionProceso,FechaUltimoProcesoTxCare,FechaAuto,FechaIniciaAuto,Computadora,ComputadoraUltima,DuracionUltima,ProcesaAuto,id,estandar
0,GLNCHL_EAF_51015838_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-08-19 21:52:34.783,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.783,NaT,None,None,None,None,None,SI,1,2.0
1,GLNCHL_EAF_51015838_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-08-19 21:52:34.630,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.630,NaT,None,None,None,None,None,SI,2,2.0
2,GLNCHL_EAF_C0060451_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-08-19 21:52:34.473,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.473,NaT,None,None,None,None,None,SI,3,2.0
3,GLNCHL_EAF_C0060451_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-08-19 21:52:34.320,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.320,NaT,None,None,None,None,None,SI,4,2.0
4,GLNCVL_EAF_D418199_LTC,gas-in-oil_Gerdau LN Cartersville_1_,37,1,2023-08-19 21:52:33.543,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:33.543,NaT,None,None,None,None,None,SI,5,2.0
5,GLNCVL_EAF_D418199_MT,gas-in-oil_Gerdau LN Cartersville_0_,37,0,2023-08-19 21:52:33.387,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:33.387,NaT,None,None,None,None,None,SI,6,2.0
6,GLNCVL_EAFXR_D418200_LTC,gas-in-oil_Gerdau LN Cartersville_3_,37,3,2023-08-19 21:52:33.850,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:33.850,NaT,None,None,None,None,None,SI,7,2.0
7,GLNCVL_EAFXR_D418200_MT,gas-in-oil_Gerdau LN Cartersville_2_,37,2,2023-08-19 21:52:33.697,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:33.697,NaT,None,None,None,None,None,SI,8,2.0
8,GLNCVL_LMF_D572190_LTC,gas-in-oil_Gerdau LN Cartersville LMF_1_,168,1,2023-08-19 21:52:34.163,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.163,NaT,None,None,None,None,None,SI,9,2.0
9,GLNCVL_LMF_D572190_MT,gas-in-oil_Gerdau LN Cartersville LMF_0_,168,0,2023-08-19 21:52:34.010,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.010,NaT,None,None,None,None,None,SI,10,2.0
10,GLNJKS_EAF_7002990_LTC,gas-in-oil_Gerdau LN Jackson_1_,44,1,2023-08-19 21:52:35.250,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.250,NaT,None,None,None,None,None,SI,11,2.0
11,GLNJKS_EAF_7002990_MT,gas-in-oil_Gerdau LN Jackson_0_,44,0,2023-08-19 21:52:35.093,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.093,NaT,None,None,None,None,None,SI,12,2.0
12,GLNMID_EAFA_7002862_MT,gas-in-oil_Gerdau LN Midlothian EAF A_0_,135,0,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:14:57.973,2024-07-02 20:09:57.973,None,None,None,None,None,NO,13,NaN
13,GLNMID_EAFB_65072_LTC,gas-in-oil_Gerdau LN Midlothian EAF B_1_,167,1,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:15:00.410,2024-07-02 20:10:00.410,None,None,None,None,None,NO,14,NaN
14,GLNMID_EAFB_65072_MT,gas-in-oil_Gerdau LN Midlothian EAF B_0_,167,0,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:13:11.483,2024-07-02 20:08:11.483,None,None,None,None,None,NO,15,NaN
15,GLNMIDA_EAF_7002862_MT,gas-in-oil_Gerdau LN Midlothian EAF A_0_,135,0,2023-08-19 21:52:36.333,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.333,NaT,None,None,None,None,None,SI,16,2.0
16,GLNMIDB_EAF_65072_LTC,gas-in-oil_Gerdau LN Midlothian EAF B_1_,167,1,2023-08-19 21:52:36.643,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.643,NaT,None,None,None,None,None,SI,17,2.0
17,GLNMIDB_EAF_65072_MT,gas-in-oil_Gerdau LN Midlothian EAF B_0_,167,0,2023-08-19 21:52:36.490,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.490,NaT,None,None,None,None,None,SI,18,2.0
18,GLNMTB_EAF_65606_LTC,gas-in-oil_Gerdau LN Manitoba_1_,160,1,2023-08-19 21:52:35.407,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.407,NaT,None,None,None,None,None,SI,19,2.0
19,GLNMTB_EAF_65606_MT,gas-in-oil_Gerdau LN Manitoba_0_,160,0,2023-08-19 21:52:35.560,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.560,NaT,None,None,None,None,None,SI,20,2.0
20,GLNMTB_LMF_12553_MT,gas-in-oil_Gerdau LN Manitoba LMF_0_,161,0,2023-08-19 21:52:35.713,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.713,NaT,None,None,None,None,None,SI,21,2.0
21,GLNMTB_SUB_TX3.97043066_MT,gas-in-oil_Gerdau LN Manitoba_2_,160,2,2023-08-19 21:52:36.180,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.180,NaT,None,None,None,None,None,SI,22,1.0
22,GLNPTB_EAF_65202_LTC,gas-in-oil_Gerdau LN Petersburg_1_,153,1,2023-08-19 21:52:36.797,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.797,NaT,None,None,None,None,None,SI,23,2.0
23,GLNPTB_EAF_65202_MT,gas-in-oil_Gerdau LN Petersburg_0_,153,0,2023-08-19 21:52:36.950,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.950,NaT,None,None,None,None,None,SI,24,2.0
24,GLNPTB_LMF_65203_MT,gas-in-oil_Gerdau LN Petersburg LMF_0_,169,0,2023-08-19 21:52:37.107,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.107,NaT,None,None,None,None,None,SI,25,2.0
25,GLNWIL_EAF_7001379_MT,gas-in-oil_Gerdau LN Wilton EAF_0_,172,0,2023-08-19 21:52:38.500,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:38.500,NaT,None,None,None,None,None,SI,26,2.0
26,GLNWTB_EAF_110054_MT,gas-in-oil_Gerdau LN Whitby_0_,152,0,2023-08-19 21:52:38.033,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:38.033,NaT,None,None,None,None,None,SI,27,2.0
27,GLNWTB_EAF_TP271_MT,gas-in-oil_Gerdau LN Whitby_0_,152,0,2023-08-19 21:52:37.880,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.880,NaT,None,None,None,None,None,SI,28,2.0
28,GLNWTB_LMF_51016014_LTC,gas-in-oil_Gerdau LN Whitby LMF_1_,165,1,2023-08-19 21:52:38.340,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:38.340,NaT,None,None,None,None,None,SI,29,2.0
29,GLNWTB_LMF_51016014_MT,gas-in-oil_Gerdau LN Whitby LMF_0_,165,0,2023-08-19 21:52:38.187,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:38.187,NaT,None,None,None,None,None,SI,30,2.0
30,GMSFS_F3_7002966_MT,gas-in-oil_Gerdau MacSteel Fort Smith EAF 3_,148,0,2023-08-19 21:52:38.653,O:\Acerias\PlantasSitio\Gerdau\GasOnline,None,2024-08-19 21:52:38.653,NaT,None,None,None,None,None,SI,31,2.0
31,KWT_EAF_66771_MT,gas-in-oil_KWTSteel EAF_0_,97,0,2023-08-19 21:52:33.233,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-08-19 21:52:33.233,NaT,None,None,None,None,None,SI,32,2.0
32,KyoeiSG_Alta_EAF_67599_MT,gas-in-oil_AltaSteel EAF_0_,89,0,2023-08-19 21:52:40.203,O:\Acerias\PlantasSitio\AltaSteel\GasOnline,None,2024-08-19 21:52:40.203,NaT,None,None,None,None,None,SI,33,2.0
33,KyoeiSG_Alta_LMF_67585_MT,gas-in-oil_AltaSteel LMF_0_,190,0,2023-08-19 21:52:40.360,O:\Acerias\PlantasSitio\AltaSteel\GasOnline,None,2024-08-19 21:52:40.360,NaT,None,None,None,None,None,SI,34,2.0
34,NSBS_EAFc_66716_MT,gas-in-oil_NSBS North_0_,96,0,2023-08-19 21:52:39.440,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-08-19 21:52:39.440,NaT,None,None,None,None,None,SI,35,2.0
35,OUT_EAF1_66731_MT,gas-in-oil_Outokumpu Calvert EAF_0_,194,0,2023-08-19 21:52:39.893,O:\Acerias\PlantasSitio\Outokumpu\GasOnline,None,2024-08-19 21:52:39.893,NaT,None,None,None,None,None,SI,36,2.0
36,TataSThaiNTS_EAF_31407_MT,gas-in-oil_Tata Steel Bo Win Thailand EAF_,198,0,2023-08-19 21:52:39.593,O:\Acerias\PlantasSitio\Tata Steel\GasOnline,None,2024-08-19 21:52:39.593,NaT,None,None,None,None,None,SI,37,2.0
37,KWT_LMF_17344_MT,gas-in-oil_KWTSteel LMF_0_,97,0,2023-08-19 21:52:32.923,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-08-19 21:52:32.923,NaT,None,None,None,None,None,SI,40,2.0
38,KWT_EAF_66447_MT,gas-in-oil_KWTSteel EAF_0_,97,0,2023-08-19 21:52:33.080,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-08-19 21:52:33.080,NaT,None,None,None,None,None,SI,41,2.0
39,GLNCHL_LMF_ZHS79681_MT,gas-in-oil_Gerdau LN Charlotte LMF_0_,32,0,2023-08-19 21:52:34.940,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:34.940,NaT,None,None,None,None,None,SI,42,2.0
40,GLNMTB_SUB_TX1.xxxx_MT,gas-in-oil_Gerdau LN Manitoba SubTX1_0_,160,0,2023-08-19 21:52:35.870,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:35.870,NaT,None,None,None,None,None,SI,43,1.0
41,GLNMTB_SUB_TX2.XXXX_MT,gas-in-oil_Gerdau LN Manitoba_3_,160,3,2023-08-19 21:52:36.027,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:36.027,NaT,None,None,None,None,None,SI,44,1.0
42,GLNSTP_EAF1_NNNN_MT,gas-in-oil_Gerdau LN St Paul_0_,163,0,2023-08-19 21:52:37.260,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.260,NaT,None,None,None,None,None,SI,45,2.0
43,GLNSTP_EAF2_NNNN_MT,gas-in-oil_Gerdau LN St Paul_1_,163,1,2023-08-19 21:52:37.413,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.413,NaT,None,None,None,None,None,SI,46,2.0
44,GLNSTP_EAF3_NNNN_MT,gas-in-oil_Gerdau LN St Paul_2_,163,2,2023-08-19 21:52:37.570,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.570,NaT,None,None,None,None,None,SI,47,2.0
45,GLNSTP_EAF4_NNNN_MT,gas-in-oil_Gerdau LN St Paul_3_,163,3,2023-08-19 21:52:37.723,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-08-19 21:52:37.723,NaT,None,None,None,None,None,SI,48,2.0
46,NSBS_EAF_64789_MT,gas-in-oil_NSBS Steel North Shell_0_,96,0,2023-08-19 21:52:38.810,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-08-19 21:52:38.810,NaT,None,None,None,None,None,SI,49,2.0
47,NSBS_EAF_66447_MT,gas-in-oil_NSBS Steel North Shell_0_,96,0,2023-08-19 21:52:38.967,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-08-19 21:52:38.967,NaT,None,None,None,None,None,SI,50,2.0
48,NSBS_EAF_66716_MT,gas-in-oil_NSBS Steel North Shell_0_,96,0,2023-08-19 21:52:39.127,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-08-19 21:52:39.127,NaT,None,None,None,None,None,SI,51,2.0
49,NSBS_EAFb_66716_MT,gas-in-oil_NSBS North Backup_0_,96,0,2023-08-19 21:52:39.283,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-08-19 21:52:39.283,NaT,None,None,None,None,None,SI,52,2.0
50,SYS_EAF1_64514_MT,transifx_Siam Yamato Steel 1,131,0,2023-08-19 21:52:39.737,O:\Acerias\PlantasSitio\Yamato\GasOnline,None,2024-08-19 21:52:39.737,NaT,None,None,None,None,None,SI,53,2.0
51,OUT_EAF1_66731_LTC,gas-in-oil_Outokumpu Calvert EAF_1_,194,1,2023-08-19 21:52:40.050,O:\Acerias\PlantasSitio\Outokumpu\GasOnline,None,2024-08-19 21:52:40.050,NaT,None,None,None,None,None,SI,54,2.0

In [4]:
try:
    query2= "SELECT * FROM ml_Tendencia"
    df2= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_29800\1358565502.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2= pd.read_sql_query(query2, conn)

In [5]:
df2

,id,idGas,idPG,valorActual,Fecha,v30,v60,v90
0,1,14,10,0.8172,2024-07-16,1.8103,1.8846,1.6969
1,2,18,10,108064.0000,2024-07-16,105565.3750,106570.7266,106883.9453
2,3,14,9,1.6710,2024-07-16,1.8692,1.8658,1.8651
3,4,18,9,103466.0000,2024-07-16,108093.7188,107584.7969,107664.4219
4,5,10,6,2.2090,2024-07-16,2.2583,2.2625,2.2023
...,...,...,...,...,...,...,...,...
2336,2337,15,36,308.4000,2024-07-24,305.6634,299.6318,300.4340
2337,2338,14,36,10.3000,2024-07-24,10.3198,10.4530,10.1170
2338,2339,16,36,2132.0000,2024-07-24,2125.1487,2133.3086,2142.7568
2339,2340,18,36,97627.0000,2024-07-24,90915.1250,97169.7734,94975.3125
2340,2341,17,36,35901.0000,2024-07-24,35956.7578,36147.3828,35850.6758

In [6]:
try:
    query2= "SELECT * FROM ml_LlavesG"
    df3= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_29800\3237636217.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3= pd.read_sql_query(query2, conn)

In [7]:
df3

        id  idGOL  idTend  idGas  idAlerta  idUser
0        1     10       1     14         1       1
1        2     10       2     18         2       1
2        3      9       3     14         1       1
3        4      9       4     18         2       1
4        5      6       5     10         3       1
...    ...    ...     ...    ...       ...     ...
2336  2337     36    2337     15         5       1
2337  2338     36    2338     14         1       1
2338  2339     36    2339     16         6       1
2339  2340     36    2340     18         2       1
2340  2341     36    2341     17         7       1

[2341 rows x 6 columns]

In [8]:
try:
    query2= "SELECT * FROM ml_Gas_Limite"
    df4= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_29800\3879372934.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4= pd.read_sql_query(query2, conn)

In [9]:
df4

    id                gas  limite  estandar
0    1     C2H2_Acetylene    80.0         1
1    2        H2_Hydrogen  1800.0         1
2    3      C2H4_Ethylene   200.0         1
3    4        C2H6_Ethane   150.0         1
4    5        CH4_Methane  1000.0         1
5    6  CO_CarbonMonoxide  1400.0         1
6    7  CO2_CarbonDioxide    10.0         1
7    8          O2_Oxygen     NaN         1
8    9        N2_Nitrogen     NaN         1
9   10     C2H2_Acetylene    50.0         2
10  11        H2_Hydrogen   700.0         2
11  12      C2H4_Ethylene   240.0         2
12  13        C2H6_Ethane   120.0         2
13  14        CH4_Methane   400.0         2
14  15  CO_CarbonMonoxide  1200.0         2
15  16  CO2_CarbonDioxide    10.0         2
16  17          O2_Oxygen     NaN         2
17  18        N2_Nitrogen   140.0         2

In [10]:
try:
    query5= "SELECT * FROM URERangoRMDSR "
    df5= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_29800\1161254561.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5= pd.read_sql_query(query5, conn)

Execution failed on sql 'SELECT * FROM URERangoRMDSR ': ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'URERangoRMDSR'. (208) (SQLExecDirectW)")

In [11]:
df5

NameError: name 'df5' is not defined

In [ ]:
try:
    query5= "SELECT * FROM ml_Gas_Alerta"
    df6= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_30508\2670122105.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df6= pd.read_sql_query(query5, conn)

In [ ]:
df6

    id  mes tipoAlerta  idTendencia  idGas  valorActual
0    1    0    Default            1     14       0.8172
1    2    0    Default            2     18  108064.0000
2    3    0    Default            5     10       2.2090
3    4    0    Default            6     12      21.0100
4    5    0    Default            7     15     959.4000
5    6    0    Default            9     16    3227.0000
6    7    0    Default           19     17    1952.0000
7    8    0    Default           27     11      26.2500
8    9    0    Default           44      3       2.2650
9   10    0    Default           45      6      24.6200
10  11    0    Default           46      5       3.0980
11  12    0    Default           47      7     567.5000
12  13    0    Default           48      8    2882.0000
13  14    0    Default           65     13      25.5100

In [ ]:
try:
    query5= "select * from [dbo].[URERMDSSummary] where Computadora ='vmtxcareauto01'"
    df7= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_30508\1940744358.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7= pd.read_sql_query(query5, conn)

In [ ]:
df7

,idRMDSSummary,idPlanta,EAF,item,idCorp,idFecha,ruta,F1,F2,visible,...,FechaAuto,FORZAR,FechaIniciaAuto,Computadora,ComputadoraUltima,DuracionUltima,procesaAuto,RestriccionComputadora,Lugar,prefijoArchivos
0,215,GMSFS,LMF,3,33,40,Gerdau MacSteel Fort Smith\Informes\AMIGEoil07...,LMF,,True,...,None,NO,2024-08-07 11:31:26.337,vmtxcareauto01,vmtxcareauto01,1578,SI,None,vmtxcareauto,Gerdau MacSteel Fort Smith LMF

In [ ]:
try:
    query5= "select * from vwUsuario_GrupoTrabajo"
    df7= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_30508\410911494.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7= pd.read_sql_query(query5, conn)

In [ ]:
df7

     idUsuario  idgpo_trabajo                 name  admin                texto
0            1              1    Power Transformer      0     Transformer Care
1            1              1    Power Transformer      1     Transformer Care
2            1              2  Servicio Regulación      0   Regulation Service
3            1              2  Servicio Regulación      1   Regulation Service
4            1              4      Control Acerías      0  Meltshop Automation
..         ...            ...                  ...    ...                  ...
814       1020              1    Power Transformer      0     Transformer Care
815       1021              1    Power Transformer      0     Transformer Care
816       1022              1    Power Transformer      0     Transformer Care
817       1023              1    Power Transformer      0     Transformer Care
818       1024              1    Power Transformer      0     Transformer Care

[819 rows x 5 columns]