In [1]:
import pyodbc
import pandas as pd

In [2]:
try:
    # Establece la conexión con la base de datos
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    print("Conexión exitosa")

    # Consulta a la base de datos
    query = "SELECT * FROM PlantasGOL"

    # Utiliza pandas para ejecutar la consulta y obtener un DataFrame
    df = pd.read_sql_query(query, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

Conexión exitosa

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\3415068190.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [3]:
df.head()
# Ejemplo: AltaSteel EAF_0_20240526_235917

,ComboKey,FileGOL,furnaceID,Tank,FechaExportar,Directorio,Forzar,FechaUltimoPeticionProceso,FechaUltimoProcesoTxCare,FechaAuto,FechaIniciaAuto,Computadora,ComputadoraUltima,DuracionUltima,ProcesaAuto,id
0,GLNCHL_EAF_51015838_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-05-29 15:40:03.520,s04 GasOnLine,None,2024-06-18 20:14:51.360,2024-06-18 20:09:51.360,None,None,None,None,None,SI,1
1,GLNCHL_EAF_51015838_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-05-29 15:40:03.867,s04 GasOnLine,None,2024-06-18 20:14:53.810,2024-06-18 20:09:53.810,None,None,None,None,None,SI,2
2,GLNCHL_EAF_C0060451_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2022-07-06 14:40:08.883,s04 GasOnLine,None,2024-06-18 20:14:56.247,2024-06-18 20:09:56.247,None,None,None,None,None,SI,3
3,GLNCHL_EAF_C0060451_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2022-07-25 00:40:01.687,Gerdau LN,None,2024-06-18 20:14:58.737,2024-06-18 20:09:58.737,None,None,None,None,None,SI,4
4,GLNCVL_EAF_D418199_LTC,gas-in-oil_Gerdau LN Cartersville_1_,37,1,2023-05-29 11:40:02.080,s04 GasOnLine,None,2024-06-18 20:15:00.907,2024-06-18 20:10:00.907,None,None,None,None,None,SI,5

In [4]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Tendencia"
    df2= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\1358565502.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2= pd.read_sql_query(query2, conn)

In [5]:
df2

   id  idGas  idPG  valorActual      Fecha   v30   v60    v90  limit
0   1      1     7        100.0 2024-05-23  80.0  90.0  120.0   50.0

In [6]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_LlavesG"
    df3= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\3237636217.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3= pd.read_sql_query(query2, conn)

In [7]:
df3

Empty DataFrame
Columns: [id, idGOL, idTend, idGas, idAlerta, idUsuario]
Index: []

In [8]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Gas_Limite"
    df4= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\3879372934.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4= pd.read_sql_query(query2, conn)

In [9]:
df4

   id gas  limite
0   1   H    50.0

In [10]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "SELECT * FROM URERangoRMDSSummary_GOL"
    df5= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\737569178.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5= pd.read_sql_query(query5, conn)

In [11]:
df5

       idRango  idRMDSSummary                valor colorLetra colorFondo
0            2             40           Tata Steel    #3366FF    #FFFFFF
1            3             40                    1    #0000FF    #FFFFFF
2            5             40  Bo Win Thailand NTS    #3366FF    #FFFFFF
3            6             40            AEG 31407    #3366FF    #FFFFFF
4            7             40                  EAF    #3366FF    #FFFFFF
...        ...            ...                  ...        ...        ...
19530      738             43               16.027    #3366FF    #FFFFFF
19531      739             43                    -    #3366FF    #FFFFFF
19532      740             43                    -    #008080    #FFFFFF
19533      742             43              11.7611    #FF0000    #FFFFFF
19534      743             43                    -    #008080    #FFFFFF

[19535 rows x 5 columns]

In [12]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "SELECT * FROM ml_Gas_Alerta"
    df6= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\2670122105.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df6= pd.read_sql_query(query5, conn)

In [13]:
df6

Empty DataFrame
Columns: [idAlerta, mes, tipoAlerta, idTendencia, idLlave, idGas, valorActual]
Index: []

In [14]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "select * from [dbo].[URERMDSSummary] where Computadora ='vmtxcareauto01'"
    df7= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\1940744358.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7= pd.read_sql_query(query5, conn)

In [15]:
df7

Empty DataFrame
Columns: [idRMDSSummary, idPlanta, EAF, item, idCorp, idFecha, ruta, F1, F2, visible, numItems, furnaceId, ultimaActualizacion, GenerarXML, estatus, accion, fechaInicial_old, fechaInicial_new, removePossibleOutliers, FiltroCCR, zipCCR, ccrFile, ultimaActualizacionLocalMty, matchPhasing, matchPhaseDate, IncluirEnDashboard, UTCOffset, FechaUltimoCCR, PlantName, Directorio, FechaAuto, FORZAR, FechaIniciaAuto, Computadora, ComputadoraUltima, DuracionUltima, procesaAuto, RestriccionComputadora, Lugar, prefijoArchivos]
Index: []

[0 rows x 40 columns]