In [1]:
import pyodbc
import pandas as pd

In [2]:
try:
    # Establece la conexión con la base de datos
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    print("Conexión exitosa")

    # Consulta a la base de datos
    query = "SELECT * FROM PlantasGOL"

    # Utiliza pandas para ejecutar la consulta y obtener un DataFrame
    df = pd.read_sql_query(query, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open server 'txcare-sql' requested by the login. Client with IP address '177.236.41.247' is not allowed to access the server.  To enable access, use the Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect. (40615) (SQLDriverConnect); [42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open server 'txcare-sql' requested by the login. Client with IP address '177.236.41.247' is not allowed to access the server.  To enable access, use the Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect. (40615)")

NameError: name 'conn' is not defined

In [32]:
df.head()
# Ejemplo: AltaSteel EAF_0_20240526_235917

,ComboKey,FileGOL,furnaceID,Tank,FechaExportar,Directorio,Forzar,FechaUltimoPeticionProceso,FechaUltimoProcesoTxCare,FechaAuto,FechaIniciaAuto,Computadora,ComputadoraUltima,DuracionUltima,ProcesaAuto,id
0,GLNCHL_EAF_51015838_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-05-29 15:40:03.520,s04 GasOnLine,None,2024-05-29 15:45:22.563,2024-05-29 15:40:22.563,None,None,None,None,None,SI,1
1,GLNCHL_EAF_51015838_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-05-29 15:40:03.867,s04 GasOnLine,None,2024-05-29 15:45:25.530,2024-05-29 15:40:25.530,None,None,None,None,None,SI,2
2,GLNCHL_EAF_C0060451_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2022-07-06 14:40:08.883,s04 GasOnLine,None,2024-05-29 15:45:28.203,2024-05-29 15:40:28.203,None,None,None,None,None,SI,3
3,GLNCHL_EAF_C0060451_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2022-07-25 00:40:01.687,Gerdau LN,None,2024-05-29 15:45:30.813,2024-05-29 15:40:30.813,None,None,None,None,None,SI,4
4,GLNCVL_EAF_D418199_LTC,gas-in-oil_Gerdau LN Cartersville_1_,37,1,2023-05-29 11:40:02.080,s04 GasOnLine,None,2024-05-29 15:45:33.310,2024-05-29 15:40:33.310,None,None,None,None,None,SI,5

In [33]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Tendencia"
    df2= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_16072\1358565502.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2= pd.read_sql_query(query2, conn)

In [34]:
df2

Empty DataFrame
Columns: [id, idGas, idPG, Fecha, v30, v60, v90, limit]
Index: []

In [35]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_LlavesG"
    df3= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_16072\3237636217.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3= pd.read_sql_query(query2, conn)

In [36]:
df3

Empty DataFrame
Columns: [id, idTend, idGas, idGOL]
Index: []

In [37]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Gas_Limite"
    df4= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_16072\3879372934.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4= pd.read_sql_query(query2, conn)

In [38]:
df4

Empty DataFrame
Columns: [id, gas, limite]
Index: []

In [39]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "SELECT * FROM URERangoRMDSSummary_GOL"
    df5= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_16072\737569178.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5= pd.read_sql_query(query5, conn)

In [40]:
df5

       idRango  idRMDSSummary                valor colorLetra colorFondo
0            2             40           Tata Steel    #3366FF    #FFFFFF
1            3             40                    1    #0000FF    #FFFFFF
2            5             40  Bo Win Thailand NTS    #3366FF    #FFFFFF
3            6             40            AEG 31407    #3366FF    #FFFFFF
4            7             40                  EAF    #3366FF    #FFFFFF
...        ...            ...                  ...        ...        ...
19530      738             43               16.027    #3366FF    #FFFFFF
19531      739             43                    -    #3366FF    #FFFFFF
19532      740             43                    -    #008080    #FFFFFF
19533      742             43              11.7611    #FF0000    #FFFFFF
19534      743             43                    -    #008080    #FFFFFF

[19535 rows x 5 columns]