In [3]:
import pyodbc
import pandas as pd

In [2]:
try:
    # Establece la conexión con la base de datos
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    print("Conexión exitosa")

    # Consulta a la base de datos
    query = "SELECT * FROM PlantasGOL"

    # Utiliza pandas para ejecutar la consulta y obtener un DataFrame
    df = pd.read_sql_query(query, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

Conexión exitosa

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_20516\3415068190.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [5]:
df

,ComboKey,FileGOL,furnaceID,Tank,FechaExportar,Directorio,Forzar,FechaUltimoPeticionProceso,FechaUltimoProcesoTxCare,FechaAuto,FechaIniciaAuto,Computadora,ComputadoraUltima,DuracionUltima,ProcesaAuto,id,estandar
0,GLNCHL_EAF_51015838_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-05-29 15:40:03.520,s04 GasOnLine,None,2024-07-02 20:14:29.863,2024-07-02 20:09:29.863,None,None,None,None,None,NO,1,NaN
1,GLNCHL_EAF_51015838_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-05-29 15:40:03.867,s04 GasOnLine,None,2024-07-02 20:14:32.313,2024-07-02 20:09:32.313,None,None,None,None,None,NO,2,NaN
2,GLNCHL_EAF_C0060451_LTC,gas-in-oil_Gerdau LN Charlotte_1_,32,1,2023-07-16 19:51:13.477,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.477,NaT,None,None,None,None,None,SI,3,2.0
3,GLNCHL_EAF_C0060451_MT,gas-in-oil_Gerdau LN Charlotte_0_,32,0,2023-07-16 19:51:13.333,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.333,NaT,None,None,None,None,None,SI,4,2.0
4,GLNCVL_EAF_D418199_LTC,gas-in-oil_Gerdau LN Cartersville_1_,37,1,2023-07-16 19:51:12.610,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:12.610,NaT,None,None,None,None,None,SI,5,2.0
5,GLNCVL_EAF_D418199_MT,gas-in-oil_Gerdau LN Cartersville_0_,37,0,2023-07-16 19:51:12.473,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:12.473,NaT,None,None,None,None,None,SI,6,2.0
6,GLNCVL_EAFXR_D418200_LTC,gas-in-oil_Gerdau LN Cartersville_3_,37,3,2023-07-16 19:51:12.900,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:12.900,NaT,None,None,None,None,None,SI,7,2.0
7,GLNCVL_EAFXR_D418200_MT,gas-in-oil_Gerdau LN Cartersville_2_,37,2,2023-07-16 19:51:12.753,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:12.753,NaT,None,None,None,None,None,SI,8,2.0
8,GLNCVL_LMF_D572190_LTC,gas-in-oil_Gerdau LN Cartersville LMF_1_,168,1,2023-07-16 19:51:13.190,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.190,NaT,None,None,None,None,None,SI,9,2.0
9,GLNCVL_LMF_D572190_MT,gas-in-oil_Gerdau LN Cartersville LMF_0_,168,0,2023-07-16 19:51:13.047,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.047,NaT,None,None,None,None,None,SI,10,2.0
10,GLNJKS_EAF_7002990_LTC,gas-in-oil_Gerdau LN Jackson_1_,44,1,2023-07-16 19:51:13.920,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.920,NaT,None,None,None,None,None,SI,11,2.0
11,GLNJKS_EAF_7002990_MT,gas-in-oil_Gerdau LN Jackson_0_,44,0,2023-07-16 19:51:13.773,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.773,NaT,None,None,None,None,None,SI,12,2.0
12,GLNMID_EAFA_7002862_MT,gas-in-oil_Gerdau LN Midlothian EAF A_0_,135,0,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:14:57.973,2024-07-02 20:09:57.973,None,None,None,None,None,NO,13,NaN
13,GLNMID_EAFB_65072_LTC,gas-in-oil_Gerdau LN Midlothian EAF B_1_,167,1,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:15:00.410,2024-07-02 20:10:00.410,None,None,None,None,None,NO,14,NaN
14,GLNMID_EAFB_65072_MT,gas-in-oil_Gerdau LN Midlothian EAF B_0_,167,0,2020-12-10 02:11:27.443,Gerdau LN,None,2024-07-02 20:13:11.483,2024-07-02 20:08:11.483,None,None,None,None,None,NO,15,NaN
15,GLNMIDA_EAF_7002862_MT,gas-in-oil_Gerdau LN Midlothian EAF A_0_,135,0,2023-07-16 19:51:14.943,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.943,NaT,None,None,None,None,None,SI,16,2.0
16,GLNMIDB_EAF_65072_LTC,gas-in-oil_Gerdau LN Midlothian EAF B_1_,167,1,2023-07-16 19:51:15.250,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.250,NaT,None,None,None,None,None,SI,17,2.0
17,GLNMIDB_EAF_65072_MT,gas-in-oil_Gerdau LN Midlothian EAF B_0_,167,0,2023-07-16 19:51:15.100,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.100,NaT,None,None,None,None,None,SI,18,2.0
18,GLNMTB_EAF_65606_LTC,gas-in-oil_Gerdau LN Manitoba_1_,160,1,2023-07-16 19:51:14.063,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.063,NaT,None,None,None,None,None,SI,19,2.0
19,GLNMTB_EAF_65606_MT,gas-in-oil_Gerdau LN Manitoba_0_,160,0,2023-07-16 19:51:14.207,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.207,NaT,None,None,None,None,None,SI,20,2.0
20,GLNMTB_LMF_12553_MT,gas-in-oil_Gerdau LN Manitoba LMF_0_,161,0,2023-07-16 19:51:14.350,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.350,NaT,None,None,None,None,None,SI,21,2.0
21,GLNMTB_SUB_TX3.97043066_MT,gas-in-oil_Gerdau LN Manitoba_2_,160,2,2023-07-16 19:51:14.793,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.793,NaT,None,None,None,None,None,SI,22,1.0
22,GLNPTB_EAF_65202_LTC,gas-in-oil_Gerdau LN Petersburg_1_,153,1,2023-07-16 19:51:15.397,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.397,NaT,None,None,None,None,None,SI,23,2.0
23,GLNPTB_EAF_65202_MT,gas-in-oil_Gerdau LN Petersburg_0_,153,0,2023-07-16 19:51:15.540,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.540,NaT,None,None,None,None,None,SI,24,2.0
24,GLNPTB_LMF_65203_MT,gas-in-oil_Gerdau LN Petersburg LMF_0_,169,0,2023-07-16 19:51:15.683,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.683,NaT,None,None,None,None,None,SI,25,2.0
25,GLNWIL_EAF_7001379_MT,gas-in-oil_Gerdau LN Wilton EAF_0_,172,0,2023-07-16 19:51:16.970,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.970,NaT,None,None,None,None,None,SI,26,2.0
26,GLNWTB_EAF_110054_MT,gas-in-oil_Gerdau LN Whitby_0_,152,0,2023-07-16 19:51:16.550,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.550,NaT,None,None,None,None,None,SI,27,2.0
27,GLNWTB_EAF_TP271_MT,gas-in-oil_Gerdau LN Whitby_0_,152,0,2023-07-16 19:51:16.403,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.403,NaT,None,None,None,None,None,SI,28,2.0
28,GLNWTB_LMF_51016014_LTC,gas-in-oil_Gerdau LN Whitby LMF_1_,165,1,2023-07-16 19:51:16.827,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.827,NaT,None,None,None,None,None,SI,29,2.0
29,GLNWTB_LMF_51016014_MT,gas-in-oil_Gerdau LN Whitby LMF_0_,165,0,2023-07-16 19:51:16.680,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.680,NaT,None,None,None,None,None,SI,30,2.0
30,GMSFS_F3_7002966_MT,gas-in-oil_Gerdau MacSteel Fort Smith EAF 3_,148,0,2023-07-16 19:51:17.117,O:\Acerias\PlantasSitio\Gerdau\GasOnline,None,2024-07-16 19:51:17.117,NaT,None,None,None,None,None,SI,31,2.0
31,KWT_EAF_66771_MT,gas-in-oil_KWTSteel EAF_0_,97,0,2023-07-16 19:51:12.330,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-07-16 19:51:12.330,NaT,None,None,None,None,None,SI,32,2.0
32,KyoeiSG_Alta_EAF_67599_MT,gas-in-oil_AltaSteel EAF_,89,0,2023-07-16 19:51:18.570,O:\Acerias\PlantasSitio\AltaSteel\GasOnline,None,2024-07-16 19:51:18.570,NaT,None,None,None,None,None,SI,33,2.0
33,KyoeiSG_Alta_LMF_67585_MT,gas-in-oil_AltaSteel LMF_,190,0,2023-07-16 19:51:18.717,O:\Acerias\PlantasSitio\AltaSteel\GasOnline,None,2024-07-16 19:51:18.717,NaT,None,None,None,None,None,SI,34,2.0
34,NSBS_EAFc_66716_MT,gas-in-oil_NSBS North_0_,96,0,2023-07-16 19:51:17.850,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-07-16 19:51:17.850,NaT,None,None,None,None,None,SI,35,2.0
35,OUT_EAF1_66731_MT,gas-in-oil_Outokumpu Calvert EAF__,194,0,2023-07-16 19:51:18.283,O:\Acerias\PlantasSitio\Outokumpu\GasOnline,None,2024-07-16 19:51:18.283,NaT,None,None,None,None,None,SI,36,2.0
36,TataSThaiNTS_EAF_31407_MT,gas-in-oil_Tata Steel Bo Win Thailand EAF_,198,0,2023-07-16 19:51:17.993,O:\Acerias\PlantasSitio\Tata Steel\GasOnline,None,2024-07-16 19:51:17.993,NaT,None,None,None,None,None,SI,37,2.0
37,KWT_LMF_17344_MT,FURNACE TRAFO.XLSX,97,0,2023-07-16 19:51:12.043,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-07-16 19:51:12.043,NaT,None,None,None,None,None,SI,40,2.0
38,KWT_EAF_66447_MT,FURNACE TRAFO.XLSX,97,0,2023-07-16 19:51:12.187,O:\Acerias\PlantasSitio\KWT Steel\GasOnline,None,2024-07-16 19:51:12.187,NaT,None,None,None,None,None,SI,41,2.0
39,GLNCHL_LMF_ZHS79681_MT,gas-in-oil_Gerdau LN Charlotte LMF_0_,32,0,2023-07-16 19:51:13.623,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:13.623,NaT,None,None,None,None,None,SI,42,2.0
40,GLNMTB_SUB_TX1.xxxx_MT,gas-in-oil_Gerdau LN Manitoba SubTX1_0_,160,0,2023-07-16 19:51:14.493,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.493,NaT,None,None,None,None,None,SI,43,1.0
41,GLNMTB_SUB_TX2.XXXX_MT,gas-in-oil_Gerdau LN Manitoba_3_,160,3,2023-07-16 19:51:14.650,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:14.650,NaT,None,None,None,None,None,SI,44,1.0
42,GLNSTP_EAF1_NNNN_MT,gas-in-oil_Gerdau LN St Paul_0_,163,0,2023-07-16 19:51:15.830,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.830,NaT,None,None,None,None,None,SI,45,2.0
43,GLNSTP_EAF2_NNNN_MT,gas-in-oil_Gerdau LN St Paul_1_,163,1,2023-07-16 19:51:15.970,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:15.970,NaT,None,None,None,None,None,SI,46,2.0
44,GLNSTP_EAF3_NNNN_MT,gas-in-oil_Gerdau LN St Paul_2_,163,2,2023-07-16 19:51:16.117,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.117,NaT,None,None,None,None,None,SI,47,2.0
45,GLNSTP_EAF4_NNNN_MT,gas-in-oil_Gerdau LN St Paul_3_,163,3,2023-07-16 19:51:16.260,O:\Acerias\PlantasSitio\Gerdau LN\GasOnline,None,2024-07-16 19:51:16.260,NaT,None,None,None,None,None,SI,48,2.0
46,NSBS_EAF_64789_MT,gas-in-oil_NSBS Steel North Shell,96,0,2023-07-16 19:51:17.260,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-07-16 19:51:17.260,NaT,None,None,None,None,None,SI,49,2.0
47,NSBS_EAF_66447_MT,gas-in-oil_NSBS Steel North Shell_0_,96,0,2023-07-16 19:51:17.403,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-07-16 19:51:17.403,NaT,None,None,None,None,None,SI,50,2.0
48,NSBS_EAF_66716_MT,gas-in-oil_NSBS Steel North Shell_0_,96,0,2023-07-16 19:51:17.550,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-07-16 19:51:17.550,NaT,None,None,None,None,None,SI,51,2.0
49,NSBS_EAFb_66716_MT,gas-in-oil_NSBS North Backup_0_,96,0,2023-07-16 19:51:17.707,O:\Acerias\PlantasSitio\North Star Bluescope S...,None,2024-07-16 19:51:17.707,NaT,None,None,None,None,None,SI,52,2.0
50,SYS_EAF1_64514_MT,amf EAF Tamini_64514 -ALL_TREND EAF Transport ...,131,0,2023-07-16 19:51:18.140,O:\Acerias\PlantasSitio\Yamato\GasOnline,None,2024-07-16 19:51:18.140,NaT,None,None,None,None,None,SI,53,2.0
51,OUT_EAF1_66731_LTC,gas-in-oil_Outokumpu Calvert EAF_1_,194,1,2023-07-16 19:51:18.427,O:\Acerias\PlantasSitio\Outokumpu\GasOnline,None,2024-07-16 19:51:18.427,NaT,None,None,None,None,None,SI,54,2.0

:

In [4]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Tendencia"
    df2= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_24196\1358565502.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2= pd.read_sql_query(query2, conn)

:

:

In [ ]:
df2

   id  idGas  idPG  valorActual      Fecha   v30   v60    v90  limit
0   1      1     7        100.0 2024-05-23  80.0  90.0  120.0   50.0

In [ ]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_LlavesG"
    df3= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\3237636217.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3= pd.read_sql_query(query2, conn)

In [ ]:
df3

Empty DataFrame
Columns: [id, idGOL, idTend, idGas, idAlerta, idUsuario]
Index: []

In [ ]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query2= "SELECT * FROM ml_Gas_Limite"
    df4= pd.read_sql_query(query2, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\3879372934.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4= pd.read_sql_query(query2, conn)

In [ ]:
df4

   id gas  limite
0   1   H    50.0

In [ ]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "SELECT * FROM URERangoRMDSSummary_GOL"
    df5= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\737569178.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5= pd.read_sql_query(query5, conn)

In [ ]:
df5

       idRango  idRMDSSummary                valor colorLetra colorFondo
0            2             40           Tata Steel    #3366FF    #FFFFFF
1            3             40                    1    #0000FF    #FFFFFF
2            5             40  Bo Win Thailand NTS    #3366FF    #FFFFFF
3            6             40            AEG 31407    #3366FF    #FFFFFF
4            7             40                  EAF    #3366FF    #FFFFFF
...        ...            ...                  ...        ...        ...
19530      738             43               16.027    #3366FF    #FFFFFF
19531      739             43                    -    #3366FF    #FFFFFF
19532      740             43                    -    #008080    #FFFFFF
19533      742             43              11.7611    #FF0000    #FFFFFF
19534      743             43                    -    #008080    #FFFFFF

[19535 rows x 5 columns]

In [ ]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "SELECT * FROM ml_Gas_Alerta"
    df6= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\2670122105.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df6= pd.read_sql_query(query5, conn)

In [ ]:
df6

Empty DataFrame
Columns: [idAlerta, mes, tipoAlerta, idTendencia, idLlave, idGas, valorActual]
Index: []

In [ ]:
try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "select * from [dbo].[URERMDSSummary] where Computadora ='vmtxcareauto01'"
    df7= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_10456\1940744358.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7= pd.read_sql_query(query5, conn)

In [ ]:
df7

Empty DataFrame
Columns: [idRMDSSummary, idPlanta, EAF, item, idCorp, idFecha, ruta, F1, F2, visible, numItems, furnaceId, ultimaActualizacion, GenerarXML, estatus, accion, fechaInicial_old, fechaInicial_new, removePossibleOutliers, FiltroCCR, zipCCR, ccrFile, ultimaActualizacionLocalMty, matchPhasing, matchPhaseDate, IncluirEnDashboard, UTCOffset, FechaUltimoCCR, PlantName, Directorio, FechaAuto, FORZAR, FechaIniciaAuto, Computadora, ComputadoraUltima, DuracionUltima, procesaAuto, RestriccionComputadora, Lugar, prefijoArchivos]
Index: []

[0 rows x 40 columns]

In [4]:


try:
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:txcare.database.windows.net,1433;Database=Txcare;Uid=fmariscal;Pwd=Pancho49193@2')
    query5= "select * from vwUsuario_GrupoTrabajo"
    df7= pd.read_sql_query(query5, conn)
except Exception as ex:
    print(ex)

finally:
    # Cierra la conexión
    conn.close()

C:\Users\EJRuiz\AppData\Local\Temp\ipykernel_8056\410911494.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7= pd.read_sql_query(query5, conn)

In [5]:
df7

     idUsuario  idgpo_trabajo                 name  admin                texto
0            1              1    Power Transformer      1     Transformer Care
1            1              2  Servicio Regulación      1   Regulation Service
2            1              4      Control Acerías      1  Meltshop Automation
3            1              5       Drives Systems      1       Drives Systems
4            3              1    Power Transformer      0     Transformer Care
..         ...            ...                  ...    ...                  ...
809       1019              1    Power Transformer      0     Transformer Care
810       1020              1    Power Transformer      0     Transformer Care
811       1021              1    Power Transformer      0     Transformer Care
812       1022              1    Power Transformer      0     Transformer Care
813       1023              1    Power Transformer      0     Transformer Care

[814 rows x 5 columns]